<div class="nav-container">
    <div class="nav-child">
        <form action="/contacts" method="POST">
            <input type="submit" value="Contacts">
        </form>
    </div>
    <div class="nav-child">    
        <form action="/addContact" method="POST">
            <input type="submit" value="Add contact">
        </form>
    </div>
</div>

<hr>